<div class="col-xs-8">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <%= search_form_for(@q) do |f| %>
        <div class="col-sm-12">
          <%= f.search_field :name_cont, class: "form-control",  placeholder: "Name" %>
          <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" %>
        </div>
      <% end %>
    </form>
  </nav>
</div>
<%= render 'microposts/microposts', microposts: @microposts %>
